@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700');


a.skip-main
{
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active
{
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 20%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}

body
{
    background-color:#ffffff;
    color: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5rem;
    font-family: 'Nunito Sans', Arial, sans-serif;

    /* background-image: url('../images/orbit.png'); */
}

header
{
    display: flex;
    height: 80vh;
}

#headline
{
    font-weight: 400;
    font-size: 8vw;
    line-height: 13vw;
    margin:auto;
    color:#000000;
    text-shadow: 0.2rem 0.05rem #D994C0;
}


h2
{
  font-weight: 600;
  text-align: left;
  font-size: 24px;
}

p
{
  font-weight: 300;
  text-align: left;
}

h3
{
  font-weight: 700;
  text-transform: uppercase;
}

a
{
  text-decoration: none;
}

ul
{
  list-style-type:square;
}

nav
{
  text-align: right;
  padding: 1rem;
}

nav a
{
  color: #8B5AA5;
  font-weight: 700;
  line-height: 2em;
  text-transform: uppercase;
}

.current
{
  color: white;
  background-color: black;
  box-shadow: 1px 1px #D994C0;
}

/* reference: https://labs.jensimmons.com/ */
.wrapper_grid
{
  margin: 1rem;
  display: grid;
  grid-template-rows: 0.5fr auto auto auto auto 0.5fr;
  grid-template-columns: 1fr;
}

.main_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max-content, 1fr));
  grid-auto-rows: 500;
  grid-gap: 0.5rem;
  grid-auto-flow: dense;
}

.proj_grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content max-content;
  grid-gap: 2rem;
  grid-auto-flow: dense;
}

.intro
{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-weight: 400;
}

main
{
  margin:0 auto;
}


header img
{
  display: none;
}

img
{
  object-fit: cover;
}

article
{
  display: flex;
  flex-flow: column;
  padding: 1rem;
}

article a
{
  color: black;
}

footer
{
  display: flex;
  align-items: center;
  justify-content: center;
}

i.fab
{
  color: #8B5AA5;
  padding: 20px;
}

iframe
{
  display: grid;
  grid-row: 2 / 3;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  display: grid;
  cursor: pointer;
  transition: 0.4s;

  padding: 18px;
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: #eee;
  box-shadow: 1px 2px 1px #8B5AA5;

  color: #000;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: left;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover
{
  font-weight: 600;
  background-color: #8B5AA5;
  color: white;
}

/* Style the accordion panel. Note: hidden by default */
.panel
{
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.callout
{
  display: none;
}

.parallax-text h3
{
  color:black;
  background-color: white;
  opacity: 0.8;
  margin: 0 auto;
  padding: 2rem;
  text-transform: capitalize;
}



@media (min-width:768px)
{
  .flip-back h2
  {
    font-size: 3vw;
    line-height: 4.85vw;
    padding: 2vw;
  }

  .flip-back p
  {
    font-size: 2vw;
    line-height: 2.43vw;
    padding-left: 2vw;
    padding-right: 2vw;
  }

  nav
  {
    text-align: left;
    writing-mode: vertical-rl;
    z-index: 2;
  }

  nav ul
  {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-rows: repeat(4,1fr);
    background-color: rgba(255, 255, 255, 0.9);
  }

  /* add to nav by sticky.js */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .sticky + .content {
    padding-top: 1rem;
  }

  .main_grid
  {
    grid-template-rows: repeat(15, 13vw);
    grid-template-columns: repeat(7, 13vw);
  }

  .proj_grid
  {
    margin-left: 15vw;
    margin-right: 15vw;
  }

  .journey_grid
  {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 500;
    margin-left: 20vw;
    margin-right: 20vw;
    grid-gap: 2rem;
  }

  .accordion
  {
    font-size: 2vw;
  }

  .parallax:nth-of-type(1)
  {
    background-image: url('../images/us.jpg');
  }

  .parallax:nth-of-type(2)
  {
    background-image: url('../images/egypt.jpg');
  }

  .parallax:nth-of-type(3)
  {
    background-image: url('../images/canada.jpg');
  }

  .parallax
  {
    display: grid;
    height: 50vh;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  article a img{
    display: none;
  }

  article
  {
    self-align: center;
    justify-content: left;
    background-color: #D994C080;
  }

  article:nth-child(1)
  {
    grid-column: 3 / 5;
    grid-row: 1 / 4;
  }

  article:nth-child(2)
  {
    grid-column: 6 / 8;
    grid-row: 4 / 7;
  }

  article:nth-child(3)
  {
    grid-column: 1 / 4;
    grid-row: 5 / 7;
  }

  article:nth-child(4)
  {
    grid-column: 4 / 7;
    grid-row: 8 / 10;
  }

  article:nth-child(5)
  {
    grid-column: 2 / 4;
    grid-row: 11 / 14;
  }

  article:nth-child(6)
  {
    grid-column: 5 / 7;
    grid-row: 12 / 15;
  }

}

@media (min-width:1000px)
{
  article a img
  {
    display: block;
  }

  article
  {
    background-color: transparent;
  }

  .flip
  {
    background-color: transparent;
    perspective: 1000px;
  }

  .flip-inner
  {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flip:hover .flip-inner
  {
    transform: rotateY(180deg);
  }

  .flip-front, .flip-back
  {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .flip-front
  {
    background-color: #fff;
    color: black;
  }

  .flip-back
  {
    background-color: #D994C080;
    transform: rotateY(180deg);
  }

  .callout
  {
    display: block;
    position: fixed;
    bottom: 35px;
    right: 20px;
    margin-left: 20px;
    max-width: 300px;
  }

  .callout-header {
    padding: 25px 15px;
    background: black;
    font-size: 20px;
    color: white;
    border-radius: 0px 20px 0px 0px;

  }

  .callout-container
  {
    padding: 15px;
    background-color: #D994C080;
    color: black;
    border-radius: 0px 0px 0px 40px;
  }

  .closebtn
  {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #D994C0;
    font-size: 30px;
    cursor: pointer;
  }

  .closebtn:hover
  {
    color: #fffcbb;
  }

}

@media print
{
  *{
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  nav,
  footer
  {
    display: none;
  }

  header img
  {
    display: block;
    width: 200px;
    height: 200px;

  }

}
