@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700');


a.skip-main
{
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active
{
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 20%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}

body
{
    background-color:#ffffff;
    color: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5rem;
    font-family: 'Nunito Sans', Arial, sans-serif;

    /* background-image: url('../images/orbit.png'); */
}

header
{
    display: flex;
    height: 80vh;
}

#headline
{
    font-weight: 400;
    font-size: 8vw;
    line-height: 13vw;
    margin:auto;
    color:#000000;
    text-shadow: 0.3rem 0.05rem #D994C0;
}


h2
{
  font-weight: 600;
  text-align: left;
  font-size: 26px;
}

p
{
  font-weight: 300;
  text-align: left;
}

h3
{
  font-weight: 700;
  text-transform: uppercase;
}

a
{
  text-decoration: none;
}

nav
{
  text-align: right;
}

nav a
{
  color: #8B5AA5;
  font-weight: 700;
  line-height: 2em;
  text-transform: uppercase;
}

.current
{
  color: white;
  background-color: black;
  box-shadow: 1px 1px #D994C0;
}

/* reference: https://labs.jensimmons.com/ */
.wrapper_grid
{
  margin: 1rem;
  display: grid;
  grid-template-rows: 1fr auto auto auto auto 0.5fr
}

.main_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 500;
  grid-gap: 0.5rem;
  grid-auto-flow: dense;
}

img
{
  object-fit: cover;
}

article
{
  display: flex;
  flex-flow: column;
  padding: 1rem;
}

article a
{
  color: black;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
}

i.fab{
  color: #aaa;
  padding: 20px;
}


/* .background {

  position:fixed;
  top: 0;
  left: 0;
  height: 150%;
  width: 150%;
  opacity: 10%;

  z-index: -10;
} */

@media (min-width:600px)
{
  h2
  {
    font-size: 3vw;
    line-height: 4.85vw;
    padding: 2vw;
  }

  p
  {
    font-size: 2vw;
    line-height: 2.43vw;
    padding-left: 2vw;
    padding-right: 2vw;
  }

  nav
  {
    text-align: left;
    writing-mode: vertical-rl;
    z-index: 2;
  }

  nav ul
  {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-rows: repeat(4,1fr);
    background-color: rgba(255, 255, 255, 0.8);
  }

  /* add to nav by sticky.js */
  .sticky {
    position: fixed;
    top: 0;
    width: 97.54%;
  }

  .sticky + .content {
    padding-top: 1rem;
  }

  .main_grid
  {
    display: grid;
    grid-template-rows: repeat(15, 13vw);
    grid-template-columns: repeat(7, 13vw);
  }

  article a img{
    display: none;
  }

  article {
    self-align: center;
    justify-content: left;
    background-color: #D994C080;
  }

  article:nth-child(1)
  {
    grid-column: 3 / 5;
    grid-row: 1 / 4;
  }

  article:nth-child(2)
  {
    grid-column: 6 / 8;
    grid-row: 4 / 7;
  }

  article:nth-child(3)
  {
    grid-column: 1 / 4;
    grid-row: 5 / 7;
  }

  article:nth-child(4)
  {
    grid-column: 4 / 7;
    grid-row: 8 / 10;
  }

  article:nth-child(5)
  {
    grid-column: 2 / 4;
    grid-row: 11 / 14;
  }

  article:nth-child(6)
  {
    grid-column: 5 / 7;
    grid-row: 12 / 15;
  }

}

@media (min-width:900px)
{
  article a img
  {
    display: block;
  }

  article
  {
    background-color: transparent;
  }

  .flip
  {
    background-color: transparent;
    perspective: 1000px;
  }

  .flip-inner
  {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flip:hover .flip-inner
  {
    transform: rotateY(180deg);
  }

  .flip-front, .flip-back
  {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .flip-front
  {
    background-color: #fff;
    color: black;
  }

  .flip-back
  {
    background-color: #D994C080;
    transform: rotateY(180deg);
  }

}
